* {
  box-sizing: border-box; 
  
  }
  
  body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  background: rgb(39, 39, 39);
  }
  .outer-col-1 {
  background: #043b29;
  flex: 1;
  }
  .outer-col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  }
  .inner-row {
  display: flex;
  flex-direction: row;
  }
  .inner-col {
  background: rgb(39, 39, 39);
  flex: 4;
  width:40px;
  }

  .inner-row aside {
  background: rgb(39, 39, 39);
  flex: 1;
  }
  header {
  background: rgb(50, 205, 171);
  height: 99px;
  }
  header, footer, nav, aside {
  padding: 1em;
  }

  canvas {
    background:#CCC;
    text-align: center;
    margin-top:1px;
    margin-left: 15%
    }

  header {
  text-align: center;
  }

  footer {
  background: rgb(50, 205, 171);
  height: 400px;
  }

  .botonHeader {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
	background-color:#254683;
	border-radius:4px;
	border:1px solid #4e6096;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
  text-decoration:none;

}

.botonLateral {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 50px;
  width: 100%;
  padding: 10px;
	background-color:#254683;
	border-radius:4px;
	border:1px solid #4e6096;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
  text-decoration:none;

}

.boxLateral{
  margin-top: 14%;
}

.botonFiltros{
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 10px;
	background-color:#254683;
	border-radius:4px;
	border:1px solid #4e6096;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
  text-decoration:none;

}

.filtros{
  text-align: center;
  margin-top: 25px;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.brillo {
  width:300px;
}

label{
  color:#ffffff;
	font-family:Arial;
	font-size:30px;
}


